@model Register
@{
    ViewData["Title"] = "Create User";
}
@{
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor httpContextAccessor
    string role = httpContextAccessor.HttpContext.Session.GetString("Role");
    if (!string.IsNullOrEmpty(role))
    {
        if (role.ToString() == "Admin")
        {
            Layout = "_Layout";
        }
        else if (role.ToString() == "Customer")
        {
            Layout = "_UserLayout";
        }
        else
        {
            Layout = "_LoginLayout";
        }
    }
    else
    {
        Layout = "_LoginLayout";
    }
}
<div class="container p-3 my-3 border">
    <h4>Create User</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="zoneId" class="form-label">Zone Id : </label>
                    <select asp-for="ZoneId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.ListofZones,"Value", "Text"))">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="companyName" class="form-label">Company Name : </label>
                    <input type="text" name="companyName" class="form-control" placeholder="Company Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="fullName" class="form-label">Full Name : </label>
                    <input type="text" name="fullName" class="form-control" placeholder="Full Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="zoneName" class="form-label">Email : </label>
                    <input type="text" name="email" class="form-control" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="phoneNumber" class="form-label">Phone No : </label>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="userName" class="form-label">User Name : </label>
                    <input type="text" name="userName" class="form-control" placeholder="User Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="password" class="form-label">Password : </label>
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-danger" asp-action="Index">Back</a>
        </div>
    </form>
</div>
