@model Register
@{
    ViewData["Title"] = "Create User";
}
@{
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor httpContextAccessor
    string role = httpContextAccessor.HttpContext.Session.GetString("Role");
    if (!string.IsNullOrEmpty(role))
    {
        if (role.ToString() == "Admin")
        {
            Layout = "_AdminLayout";
        }
        else if (role.ToString() == "Customer")
        {
            Layout = "_UserLayout";
        }
        else
        {
            Layout = "_PublicLayout";
        }
    }
    else
    {
        Layout = "_PublicLayout";
    }
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Users</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><Link>Home</li>
                    <li class="breadcrumb-item active">Update User</li>
                </ol>
            </div>
        </div>
    </div>
</div>
@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade-show">
        @TempData["errorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}
@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade-show">
        @TempData["successMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}
<div class="alert alert-success">
    <form asp-action="Create">
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="companyName" class="form-label">Company Name : </label>
                    <input type="text" name="companyName" class="form-control" placeholder="Company Name" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="fullName" class="form-label">Full Name : </label>
                    <input type="text" name="fullName" class="form-control" placeholder="Full Name" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="zoneName" class="form-label">Email : </label>
                    <input type="text" name="email" class="form-control" placeholder="Email" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label htmlFor="phoneNumber" class="form-label">Phone No : </label>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" />
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-danger" asp-action="Index">Back</a>
        </div>
    </form>
</div>
