@model Zone
@{
    ViewBag.Title = "Add a Zone";
    Layout = "_AdminLayout";
}

<h2>Add a Zone <a asp-action="Index" asp-area="" asp-controller="Zone" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddZone" method="post">
    <div class="form-group">
        <label for="Name">Zone Name:</label>
        <input class="form-control" name="Zone Name" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>